# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
dist/
build/
.eggs/
*.egg
*.whl

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
ENV/
.venv/

# Docker
**/Dockerfile
**/docker-compose.yml
**/docker-compose.override.yml
docker-compose.override.yml

# MLflow artifacts
artifacts/
mlflow.db
mlops-env/

# System files
.DS_Store
Thumbs.db
*.log

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Environment variables
.env
